.remoteView {
  position: relative;
  min-width: 320px; 
	min-height: 160px; 
  max-height: 100%;
 	width:100%;
  z-index: 1;
}

#selfView {
  position: relative;
  padding:0px;
  width: 100%;
  max-width:100%;
  margin-right:auto;
  margin-left:auto;
}

.hidden {
  display: none
}
.show {
  display: block
}
